<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aplicacion_tesis">

    <!-- Permisos de red -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Notificaciones (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aplicacion_Tesis"

        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <!-- LOGIN como pantalla inicial (arranca con el splash del escudo) -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/Theme.Aplicacion_Tesis.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ONBOARDING (primer uso) -->
        <activity android:name=".ui.onboarding.OnboardingActivity" android:exported="false"/>

        <!-- ACTIVIDADES NORMALES -->
        <activity android:name=".ui.MainActivity" android:exported="false" />
        <activity android:name=".ui.HomeActivity" android:exported="false" />
        <activity android:name=".ui.login.RegisterActivity" android:exported="false" />
        <activity android:name=".ui.login.RecoverActivity" android:exported="false" />
        <activity android:name=".ui.home.HistorialDetalleActivity" android:exported="false" />

        <!-- Tutor -->
        <activity android:name=".ui.home.tabs.practica.PracticaEjercicioActivity" />


        <!-- Profesor (F2: Alertas/Perfil/Informes ahora son fragments dentro de TeacherHomeActivity) -->
        <activity android:name=".ui.teacher.TeacherHomeActivity" android:exported="false" />
        <activity android:name=".ui.home.tabs.TemaDetalleActivity" android:exported="false" />
        <activity android:name=".ui.teacher.TeacherStudentReportActivity" android:exported="false" />

    </application>

</manifest>
